body{
    margin: 0;
    padding: 0;
}

h1 {

    background: rgb(107,140,224);
    background: linear-gradient(90deg, rgba(107,140,224,1) 0%, rgba(39,30,83,1) 100%);
    margin: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
margin-bottom: 10px;

}

#currentWeather, #current-weather{ 
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* media queries to improve look on smaller px screens */
@media (max-width: 768px) {

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .forecast-container {
        overflow-x: auto;
        border: solid;
        border-color: #ccc;
        width: 100%;
        margin-left: 0;
       border: none;
    }


}